templates:
  tv_shows:
    transmission:
      host: {{ transmission_host }}
      port: {{ transmission_port }}
      username: {{ transmission_user }}
      password: {{ trasnmission_pass }}
      addpaused: no
    regexp:
      reject:
        - mSD
        - AFG
    configure_series:
      settings:
        qualities:
          - 720p webdl
          - hdtv <720p
        propers: no
      from:
{% if use_trakt %}
        trakt_list:
          username: {{ trakt_user }}
          account: {{ trakt_account }}
          list: Watchlist
          type: shows
{% endif %}
{% if use_tvdb %}
        thetvdb_list:
          username: {{ tvdb_user }}
          account_id: {{ tvdb_id }}
{% endif %}

tasks:
{% for item in rss_urls %}
  {{ item.name }}:
    rss:
      url: "{{ item.url }}"
      all_entries: no
      ascii: yes
    template: tv_shows
{% endfor %}