templates:
  tv_shows:
    transmission:
      host: {{ transmission_host }}
      port: {{ transmission_port }}
      username: {{ transmission_user }}
      password: {{ trasnmission_pass }}
      addpaused: no
    regexp:
      reject:
        - mSD
        - AFG
    configure_series:
      settings:
        qualities:
          - 720p webdl
          - hdtv <720p
        propers: no
      from:
#        trakt_list:
#          username: {{ trakt_user }}
#          account: {{ trakt_account }}
#          list: Watchlist
#          type: shows
        thetvdb_list:
          username: {{ tvdb_user }}
          account_id: {{ tvdb_id }}

tasks:
  lookup_shows:
    rss:
      url: "https://thepiratebay.org/rss/top100/200"
      all_entries: no
    template: tv_shows