<VirtualHost *:80>
    ServerName jenkins.{{ domain }}
    Redirect permanent / https://jenkins.{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName jenkins.{{ domain }}
    ServerAdmin  webmaster@localhost

    SSLEngine on
    SSLCertificateFile {{ cert_file_path }}
    SSLCertificateKeyFile {{ pkey_file_path }}

    AllowEncodedSlashes NoDecode

    ProxyRequests       Off
    ProxyPreserveHost   On
    ProxyPass           /   http://hefaistos.{{ domain }}:8080/ nocanon
    ProxyPassReverse    /   http://hefaistos.{{ domain }}:8080/
    ProxyPassReverse    /   https://jenkins.{{ domain }}/

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set X-Forwarded-Port "443"

    CustomLog /var/log/httpd/jenkins.{{ domain }}.log combined
    ErrorLog /var/log/httpd/jenkins.{{ domain }}-error.log
</VirtualHost>