<VirtualHost *:80>
    ServerName torrents.{{ domain }}
    Redirect permanent / https://torrents.{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName torrents.{{ domain }}

    SSLEngine on
    SSLCertificateFile {{ cert_file_path }}
    SSLCertificateKeyFile {{ pkey_file_path }}

    ProxyPass / http://{{ transmission_host }}.{{ domain }}:{{ transmission_port }}/
    ProxyPassReverse / http://{{ transmission_host }}.{{ domain }}:{{ transmission_port }}/

    Header echo X-Transmission-Session-Id

    CustomLog /var/log/httpd/torrents.{{ domain }}.log combined
    ErrorLog /var/log/httpd/torrents.{{ domain }}-error.log
</VirtualHost>
